* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #263e48;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

body {
  background-color: #e6e6e6;
}

#container {
  width: 1020px;
  margin: 0 auto;
  background-color: #e0e3e4;
}

a:hover {
  color: #3ec474;
}

header {
  width: 100%;
  line-height: 70px;
  height: 70px;
  text-align: center;
  background-color: #263e48;
  position: relative;
}

header .logo {
  position: absolute;
  top: 8px;
}

header img {
  width: 100px;
  padding-left: 20px;
}

nav ul li{
  display: inline-block;
  padding: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #e0e3e4;
}

.banner {
  position: relative;
  background-image: url("../images/4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
}

.banner-text {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 40px;
}

.banner-text h1 {
  font-size: 60px;
}

.banner-text h2 {
  font-size: 36px;
  font-weight: normal;
}

.content .description {
  text-align: center;
}

.content .description h2 {
  font-size: 36px;
  margin: 30px 0;
}

.content .description p {
  font-size: 20px;
  padding: 0 130px;
  margin-bottom: 40px;
}

.quote-box {
  height: 150px;
  background-color: #263e48;
  color: #e0e3e4;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.quote-box .quote p{
  font-size: 20px;
  padding: 35px 0;
  color: #e0e3e4;
}

.quote-box .quote h4 {
  font-size: 20px;
  color: #e0e3e4;
  text-transform: uppercase;
}

.quote-box button {
  font-size: 40px;
  border: none;
  outline: none;
  background: none;
  color: #e0e3e4;
  position: absolute;
}

button#prev {
  top: 50px;
  left: 20px;
}

button#next {
  top: 50px;
  right: 20px;
}

.ask-vector {
  height: 500px;
  background-image: url("../images/14.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.ask-vector-text {
  position: absolute;
  text-align: center;
  width: 400px;
  top: 40px;
  right: 80px;
}

.ask-vector-text h2 {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 20px;
}

.ask-vector-text p {
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 20px;
}

.ask-vector-text .highlight {
  font-size: 18px;
  color: #0a222c;
}

.complementary {
  color: #3ec474;
}

.other-functions {
  width: 600px;
  margin: 10px auto;
}

.function {
  margin-bottom: 20px;
}

.function img {
  width: 50%;
  padding: 10px;
}

.function-text {
  width: 50%;
  padding: 50px 10px;
  text-align: center;
  font-weight: bold;
}

.function-text h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

.function:nth-child(2n) img {
  float: right;
}

.function:nth-child(2n) .function-text {
  float: left;
}

.function:nth-child(2n+1) img {
  float: left;
}

.function:nth-child(2n+1) .function-text {
  float: right;
}

footer {
  height: 300px;
  background-color: #263e48;
  padding: 40px 80px 20px 140px;
}

footer * {
  color: #e0e3e4;
  text-decoration: none;
}

footer h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

footer p {
  line-height: 25px;
}

.onethird {
  width: 33%;
}

.social i {
  font-size: 30px;
  margin-right: 20px;
}

.copyright {
  text-align: center;
  margin-top: 80px;
  font-size: 10px;
}



