* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #263e48;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.complementary {
  color: #3ec474;
}

body {
  background-color: #e6e6e6;
}

#container {
  width: 1020px;
  margin: 0 auto;
  background-color: #e0e3e4;
}

a:hover {
  color: #3ec474;
}

header {
  width: 100%;
  line-height: 70px;
  height: 70px;
  text-align: center;
  background-color: #263e48;
  position: relative;
}

header .logo {
  position: absolute;
  top: 8px;
}

header img {
  width: 100px;
  padding-left: 20px;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #e0e3e4;
}

footer {
  height: 300px;
  background-color: #263e48;
  padding: 40px 80px 20px 140px;
}

footer * {
  color: #e0e3e4;
  text-decoration: none;
}

footer h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

footer p {
  line-height: 25px;
}

.onethird {
  width: 33%;
}

.social i {
  font-size: 30px;
  margin-right: 20px;
}

.copyright {
  text-align: center;
  margin-top: 80px;
  font-size: 10px;
}

.banner {
  background-image: url("../images/8.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
  position: relative;
  margin-bottom: 30px;

}

.banner h1 {
  font-size: 40px;
  position: absolute;
  top: 100px;
  left: 60px;
}

.banner .button-price {
  position: absolute;
  bottom: 60px;
  left: 60px;
}

.button-price button {
  line-height: 40px;
  font-size: 20px;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: #3ec474;
  color: #e0e3e4;
  margin-right: 10px;
}

.button-price .price #old{
  font-size: 18px;
  font-style: italic;
  text-decoration: line-through;
}

.button-price .price #new {
  font-size: 20px;
  font-weight: bold;
}

.combo {
  text-align: center;
}

.combo h2 {
  margin: 60px auto;
  font-size: 30px;
}

.combo .images {
  padding: 0 30px;
}

.combo img {
  height: 140px;
  margin-bottom: 20px;
}

.combo p {
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
}

.supported-app {
  margin: 60px 0;
  text-align: center;
}

.supported-app h2, .supported-app p {
  width: 450px;
  margin: 0 auto;
}

.supported-app h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.download-app {
  background-image: url("../images/app.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  height: 420px;
  margin: 20px auto;
  position: relative;
}

.download-app img {
  width: 150px;
  margin: 10px;
}

.download-app>div {
  position: absolute;
  top: 50px;
  right: 80px;
}